doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    div(class='header')
      div(class='top-nav')
        nav(class="navbar navbar-default navbar-fixed-top")
          div(class="container")
            div(class="navbar-header")
              a(class="navbar-brand" href="#")
                img(alt="攒米" src="img/logo.png")
    block content
